:root {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --color-base: #667BC6;
  --color-success: #6C946F;
  --color-danger: #EF5A6F;
  --color-background: #FEF3E2;
  --color-font: #2B2B2B;
}

small {
  font-size: 15px
}

normal {
  font-size: 20px;
}

big {
  font-size: 40px;
}

bigger {
  font-size: 60px;
}